.calendar-day {
    border-radius: 50%;
    border: 0.25rem solid lightblue;
    background: blue;
    color: white;
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transform: all 200ms;
    margin-right: 0.125rem;
}

.calendar-day.active {
    background: black;
}