.home-card {
    max-width: 30rem;
    width: 100%;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 0.0625rem solid black;
    border-radius: 0.25rem;
    box-shadow: 0.125rem 0.125rem 0.5rem #aaa;
    padding: 0.625rem;
    margin-top: 1.25rem;
}