body {
    font-size: 16px;
}

input {
    border: none;
    border-bottom: 0.0625rem solid green;
    margin-bottom: 0.3125rem;
    background-color: aliceblue;
    padding: 0.3125rem;
}

.validation-error {
    border: 0.0625rem solid red;
}

.btn {
    border: 0;
    background: cadetblue;
    padding: 0.625rem 1.25rem;
    border-radius: 1.25rem;
    color: white;
    font-weight: bold;
    margin: 0.625rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.btn-icon {
    padding-right: 30px;
}

.btn > span {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    display: inline-block;
    right: 6px;
    transform: translateY(-55%);
}